
<%- include('includes/header') %>

  <body>

  <div class="card" style="width: 18rem;">
    <img src="https://i0.wp.com/itechgear.org/wp-content/uploads/2024/11/f85f4-ai-generated.jpg?fit=640%2C640&ssl=1" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <button type="button" class="btn btn-primary">Primary</button>
    
  </div>
  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar w-75"></div>
  </div>
 </body>

 <%- include('includes/footer') %>
