<%- include('includes/header') %>

<body>
    <form action="/login" method="POST">
        <input type="text" name="memberNick" required />
        <input type="password" name="memberPassword" required />
        <button>Login</button>
      </form>
    <div>LOGIN PAGE</div>
</body>
</html>
<%- include('includes/footer') %>